  <div id="mainform">
    <h2>Welcome to the Car Detailing Hub! </h2>
    <h2>We work hard to find the devil in every car</h2>
    <h4>Please <a href="/login" id="iflogin"><b><i>log in </i></b></a>
      or <a href="/signup" id="ifsignup"><i><b>sign up</b></i></a></h4>
  </div>
