  <div id="mainform">
    <h2>Lets start your day</h2>
  </div>

  <div id="logindiv">
    <form class="form" action="#" id="login">
      <h3>Login Form</h3>
      <hr/>
      <label>Username : </label>
      <input type="text" id="username" placeholder="John Dow" />
      <label>Password : </label>
      <input type="text" id="password" placeholder="************" />
      <input type="button" id="loginbtn" value="Login" />
      <input type="button" id="cancelbtn" value="Cancel" />
    </form>

  </div>
