<div id="logindiv">
  <form class="form" action="/login" method="POST" id="login">
    <h3>Login Form</h3>
    <hr/>
    <label>E-mail : </label>
    <input type="email" class="email" name="email" minlength="2" maxlength="25" required placeholder="myemail@gmail.com" />
    <label>Password : </label>
    <input type="password" class="password" name="password" required minlength="4" placeholder="************" />
    <hr/>
    <input type="submit" class="loginbtn" value="Login" />
    <a href="/">
    <input type="button" class="cancelbtn" value="Return" />
    </a>
     <a href="/login">
    <input type="button" class="clear" value="Clear" />
    </a>
    {{#if error}}
    <h3>{{error}}</h3>
    {{/if}}
  </form>
</div>