<div id="signupdiv">
  <form class="form" method="POST" action="/signup" id="signup">
    <h3>Sign Up Form</h3>
    <hr/>
    <label>First Name : </label>
    <input type="text" class="firstName"  name="firstName" minlength="2" maxlength="15" required placeholder="John" />
    <label>Last Name : </label>
    <input type="text" class="lastName" name="lastName" minlength="2" required  maxlength="15" placeholder="Smith" />
    <label>E-mail : </label>
    <input type="email" class="email" name="email" required maxlength="25" placeholder="email@gmail.com" />
    <label>Password:</label>
    <input type="password" class="password" name="password" required minlength="4" maxlength="15" placeholder="************" />
    <label>Confirm Password: </label>
    <input type="password" class="confirmedPassword" name="confirmedPassword" required minlength="4" maxlength="15" placeholder="************" />
    <hr/>
    <input type="submit" class="signupButton"  value="Sign up" />
    <a href="/">
    <input type="button" class="cancelbtn" value="Return" />
    </a>
    <a href="/signup">
    <input type="button" class="clear" value="Clear" />
    </a>
    {{#if error}}
    <h3>{{error}}</h3>
    {{/if}}
  </form>
</div>